
.navbar{
   height: 70px;
    background-color:#70587c!important;
    box-shadow: 2px 2px 10px black;
}
.navbar-brand{
    font-family: 'Flamenco', cursive;
    font-size: 36px;
    font-weight: 700;
    color: wheat;
}
.head{
    
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
}
ul{
    margin: 12px;
}
ul li{
    font-size: 20px;
    font-weight: 600;
  
}
li a{
    color: white !important;
    transition: 0.2s all;
    font-family: 'Flamenco', cursive;
}
li a:hover{
    color: orchid !important;
}
button{
    background-color: beige !important;
}

/* .button{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    
} */
@media only screen and (max-width:990px) {
    .head{
        width: 100%;
        display: inline !important;
            
    }
    .head button{
        text-align: right !important;
        float: right !important;
        margin-top: 10px !important;
    }
    .navbar-cust{
        background-color: #70587c;
    }
  }